<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>${_("Terms of Service")}</h1>
<p>The site and services are provided on an 'as is' and 'as available' basis without any kind of warranty.</p>
<p>Tip for course creators: Export and backup your courses at regular basis!</p>
## <p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>
</section>
